@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Open+Sans:300,400,700');

body {
  margin: auto;
  background: #fff;
  color: #222;
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: #000;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 60px 0px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #888;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 36px;
  margin-right: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

header {
  width: 100%;
  margin: auto;
  text-align: left;
}

header #button {
  padding: 15px 50px;
}

header h1 {
  font-size: 35px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 25px 25px 0px 25px;
}

header p {
  margin: 0px 25px 25px 25px;
  font-size: 18px;
}

article{
  background: url("https://picsum.photos/1280/720/?image=600");
  background-size: 100%;
  padding: 50px 0px;
}

article div {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 100px 25px;
  box-sizing: border-box;
}

footer {
  padding: 25px
}